<%@ page pageEncoding="UTF-8" %>
<p class='banners' align='center' style='margin-left: -15px;'>
  <a href='http://www.cikrf.ru/services/lk_address/' target='_blank'><img src='http://lipetsk.izbirkom.ru/local/include/finds_4.png' width='200' height='50'/></a>
  <br><br>
  <a href='http://www.cikrf.ru/services/lk_mail/' target='_blank'><img src='http://lipetsk.izbirkom.ru/local/include/finds_5.png' width='200' height='50'/></a>
  <br><br>
  <a href='http://www.cikrf.ru/personal/profile/' target='_blank'><img src='http://lipetsk.izbirkom.ru/local/include/finds_3.png' width='200' height='50'/></a>
  <br><br>
</p>
