<%@ page pageEncoding="UTF-8" %>
<div style='color:dimgray;font-size:small;'>
  <p style='float:left'>&copy; <%=(new java.util.Date()).getYear() + 1900 %> ИЦ ИКЛО</p>
  <p style='float:right'>Адрес: ${Address}</p>
</div>
