<%@ page pageEncoding="UTF-8" %>
<nav class='navbar navbar-default' style='margin-left:-15px; padding: 0 5px 0 5px;'>
  <ul class='nav navbar-nav'>
    <li><a href='/news'>Новости</a></li>
    <li><a href='http://lipetsk.izbirkom.ru/laws/'>Законодательство о выборах и референдумах</a></li>
    <li><a href='/docs'>Документы избирательной комиссии</a></li>
    <li><a href='/party'>Политические партии</a></li>
    <li><a href='/teach'>Обучение</a></li>
    <li><a href='/reception'>Приемная избирательной комиссии</a></li>
  </ul>
</nav>